/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Montserrat:400,700|Raleway:300,400");
$base-font: "lineto-circular", "Open Sans", "Helvetica", "sans-serif";
$header-font: "lineto-circular", "Montserrat", "sans-serif";
$navbar-font: "lineto-circular", 'Raleway', "sans-serif";

// Local fonts (uncomment following lines)
@font-face {
  font-family: "lineto-circular";
  src: font_path('fonts/lineto-circular-pro-medium.eot');
  src: font_path('fonts/lineto-circular-pro-medium.eot?#iefix') format('embedded-opentype'),
       font_path('fonts/lineto-circular-pro-medium.woff') format('woff'),
       font_path('fonts/lineto-circular-pro-medium.ttf') format('truetype')
}
$base-font2: "lineto-circular";

@font-face {
  font-family: "lineto-circular-bold";
  src: font_path('fonts/lineto-circular-pro-bold.eot');
  src: font_path('fonts/lineto-circular-pro-bold.eot?#iefix') format('embedded-opentype'),
       font_path('fonts/lineto-circular-pro-bold.woff') format('woff'),
       font_path('fonts/lineto-circular-pro-bold.ttf') format('truetype')
}
$base-font2-bold: "lineto-circular-bold";

@font-face {
  font-family: "freight";
  src: font_path('fonts/freight-text-pro.eot');
  src: font_path('fonts/freight-text-pro.eot?#iefix') format('embedded-opentype'),
       font_path('fonts/freight-text-pro.woff') format('woff'),
       font_path('fonts/freight-text-pro.ttf') format('truetype')
}
$base-font3: "freight";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$purple: #6452BD;
$th-green1: #3AC162;
$th-green2: #2C9676;
$th-gray: #384047;
$th-gray2: #D4D9DD;
$bt-red: #EE5F5B;

// Gray scale
$gray-darker:  lighten(#000, 13.5%); // #222
$gray-dark:    lighten(#000, 20%);   // #333
$gray:         lighten(#000, 33.5%); // #555
$gray-light:   lighten(#000, 46.7%); // #777
$gray-lighter: lighten(#000, 93.5%); // #eee
