p {
  font-family: $base-font;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0px;
  font-weight: 500;
}

h1 {
  display: inline-block
}
h2 {
  display: inline-block
}
h3 {
  display: inline-block
}

