<div class="container">
  <div class="row">
    <div class="center">
      <h1>My orders</h1>
    </div>
    <br>
    <br>
  </div>
</div>
<div class="container">
  <div class="row">
    <% current_user.orders.each do |o| %>
      <div class="col-xs-12 col-sm-3">
        <div class="bg-white center padding1 margin1">
          <%= render "order", order: o %>
        </div>
      </div>
    <% end %>
  </div>
</div>
