<div class="container margin-none total-width">
  <div class="row">
    <div class="video-wrapper">
      <video preload="auto" muted="muted" loop="loop" autoplay="autoplay" style="width: 1280px; height: 720px; margin-top: -176.5px; margin-left: 0px;">

          <source type="video/mp4" src="http://mazwai.com/system/posts/videos/000/000/149/original/adam_burns--the_sunshine_state.mp4?1419889754"></source>
          <source type="video/webm" src="http://mazwai.com/system/posts/videos/000/000/149/webm/adam_burns--the_sunshine_state.webm?1419889754"></source>
      </video>
    </div>
  </div>

  <div class="content">
    <div class="row padding1">
      <div class="row">
        <h1>Airpnp</h1><h2>-</h2><h3>Où vous voulez quand vous voulez !</h3>
      </div>
    </div>
    <div class="row">
      <div class="form">
        <%= form_tag(flats_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Your next destination" %>
          <%= submit_tag "Search", :name => nil %>
        <% end %>
      </div>
      <div class="black">
        <br>
        <br>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex rem asperiores qui adipisci, quod suscipit iure facilis consequuntur. Modi quidem tempora exercitationem culpa vitae, sint totam velit enim, labore aliquam!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex rem asperiores qui adipisci, quod suscipit iure facilis consequuntur. Modi quidem tempora exercitationem culpa vitae, sint totam velit enim, labore aliquam!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex rem asperiores qui adipisci, quod suscipit iure facilis consequuntur. Modi quidem tempora exercitationem culpa vitae, sint totam velit enim, labore aliquam!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex rem asperiores qui adipisci, quod suscipit iure facilis consequuntur. Modi quidem tempora exercitationem culpa vitae, sint totam velit enim, labore aliquam!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex rem asperiores qui adipisci, quod suscipit iure facilis consequuntur. Modi quidem tempora exercitationem culpa vitae, sint totam velit enim, labore aliquam!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex rem asperiores qui adipisci, quod suscipit iure facilis consequuntur. Modi quidem tempora exercitationem culpa vitae, sint totam velit enim, labore aliquam!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex rem asperiores qui adipisci, quod suscipit iure facilis consequuntur. Modi quidem tempora exercitationem culpa vitae, sint totam velit enim, labore aliquam!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex rem asperiores qui adipisci, quod suscipit iure facilis consequuntur. Modi quidem tempora exercitationem culpa vitae, sint totam velit enim, labore aliquam!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex rem asperiores qui adipisci, quod suscipit iure facilis consequuntur. Modi quidem tempora exercitationem culpa vitae, sint totam velit enim, labore aliquam!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex rem asperiores qui adipisci, quod suscipit iure facilis consequuntur. Modi quidem tempora exercitationem culpa vitae, sint totam velit enim, labore aliquam!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex rem asperiores qui adipisci, quod suscipit iure facilis consequuntur. Modi quidem tempora exercitationem culpa vitae, sint totam velit enim, labore aliquam!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex rem asperiores qui adipisci, quod suscipit iure facilis consequuntur. Modi quidem tempora exercitationem culpa vitae, sint totam velit enim, labore aliquam!
        </p>
              <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex rem asperiores qui adipisci, quod suscipit iure facilis consequuntur. Modi quidem tempora exercitationem culpa vitae, sint totam velit enim, labore aliquam!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex rem asperiores qui adipisci, quod suscipit iure facilis consequuntur. Modi quidem tempora exercitationem culpa vitae, sint totam velit enim, labore aliquam!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex rem asperiores qui adipisci, quod suscipit iure facilis consequuntur. Modi quidem tempora exercitationem culpa vitae, sint totam velit enim, labore aliquam!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex rem asperiores qui adipisci, quod suscipit iure facilis consequuntur. Modi quidem tempora exercitationem culpa vitae, sint totam velit enim, labore aliquam!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex rem asperiores qui adipisci, quod suscipit iure facilis consequuntur. Modi quidem tempora exercitationem culpa vitae, sint totam velit enim, labore aliquam!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex rem asperiores qui adipisci, quod suscipit iure facilis consequuntur. Modi quidem tempora exercitationem culpa vitae, sint totam velit enim, labore aliquam!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex rem asperiores qui adipisci, quod suscipit iure facilis consequuntur. Modi quidem tempora exercitationem culpa vitae, sint totam velit enim, labore aliquam!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex rem asperiores qui adipisci, quod suscipit iure facilis consequuntur. Modi quidem tempora exercitationem culpa vitae, sint totam velit enim, labore aliquam!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex rem asperiores qui adipisci, quod suscipit iure facilis consequuntur. Modi quidem tempora exercitationem culpa vitae, sint totam velit enim, labore aliquam!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex rem asperiores qui adipisci, quod suscipit iure facilis consequuntur. Modi quidem tempora exercitationem culpa vitae, sint totam velit enim, labore aliquam!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex rem asperiores qui adipisci, quod suscipit iure facilis consequuntur. Modi quidem tempora exercitationem culpa vitae, sint totam velit enim, labore aliquam!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex rem asperiores qui adipisci, quod suscipit iure facilis consequuntur. Modi quidem tempora exercitationem culpa vitae, sint totam velit enim, labore aliquam!
        </p>
      </div>
    </div>
  </div>
</div>