/* -------------------------------------
 * Base elements style (h1, h2, p, a, ul..)
 * ============= IMPORTANT =============
 * Before writing in this file, look if there is not
 * already a Bootstrap SCSS variable that does the same job
 * ------------------------------------- */
html {
  height: 100%;
  min-height: 650px;
}

body {
  font-family: $base-font;
  min-height: 600px;
  height: 100%;
}
#main-container {
  min-height: 600px;
  padding-top: 50px;
}
.margin-none {
  margin: 0;
}
.total-width {
  width: 100%;
}
.height1 {
  min-height: 25px;
}