<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <ul class="list-inline">
          <li>
            <a href="https://www.youtube.com/channel/UChCDYcBCrb8tuPAO6e0P-Hw" target="_blank">
                <i class="fa fa-youtube"></i>
            </a>
          </li>
          <li>
            <a href="http://lesjoiesducode.fr/post/109484766001/quand-le-stagiaire-corrige-le-bug-dun-senior" target="_blank">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
          <li>
            <a href="http://lesjoiesducode.fr/" target="_blank">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="http://lesjoiesducode.fr/" target="_blank">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="text-right" id="font">
            This wonderfull and amazing website is edited by: <br>
            <a href="https://www.linkedin.com/profile/view?id=84225363&authType=NAME_SEARCH&authToken=2w_A&locale=fr_FR&trk=tyah2&trkInfo=idx%3A1-1-1%2CtarId%3A1424181242915%2Ctas%3Ajean-bri" target="_blank">
              Jean-Brice -
            </a>
            <a href="https://www.linkedin.com/profile/view?id=19183500&authType=NAME_SEARCH&authToken=ECEU&locale=fr_FR&trk=tyah&trkInfo=idx%3A1-1-1%2CtarId%3A1424181200717%2Ctas%3Ahubert+brosseau" target="_blank">
               Hubert -
            </a>
            <a href="https://www.facebook.com/charleseric.leveillard" target="_blank">
               Charles-Eric
            </a>
            and
            <a href="https://www.linkedin.com/profile/view?id=138658107&authType=NAME_SEARCH&authToken=Slrz&locale=fr_FR&trk=tyah2&trkInfo=idx%3A1-1-1%2CtarId%3A1424181267581%2Ctas%3Ajereie&trk=tyah2&trkInfo=idx%3A1-1-1%2CtarId%3A1424181267581%2Ctas%3Ajere" target="_blank">
               Jeremie
            </a>
        </div>
      </div>
    </div>
  </div>
</div>